.about-page {
  &__title {
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    color: @grey-color;

    &::before {
      content: "";
      width: calc(100% - 40px);
      height: 2px;
      background-color: @orange-color;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .about-us {
    margin-bottom: 50px;
    &__title-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 30px;
    }

    &__title {
      color: @orange-color;
    }

    &__subtitle {
      color: darken(@doublelight-grey-color, 30%);
    }
  }

  .why {
    &__title {
      text-align: center;
      color: @orange-color;
      margin-bottom: 30px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    &__item {
      background-color: @light-grey-color;
      width: 280px;
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      margin-bottom: 20px;
      box-shadow: 0 3px 10px rgba(black, 0.4);
    }

    &__item-image {
      fill: @orange-color;
    }

    &__item-title {
      color: @cream-color;
      margin-top: 30px;
    }

    &__item-text {
      text-align: center;
      margin-top: 20px;
      line-height: 24px;
      color: @doublelight-grey-color;
    }
  }
}
