.contacts-page {
  .contacts {
    .wrapper {
      position: relative;
    }

    &__text {
      position: absolute;
      left: 0;
      top: 20px;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 15px;
      box-shadow: 10px -10px 15px rgba(black, 0.4);
    }

    &__title {
      color: @grey-color;
      margin-bottom: 30px;
      letter-spacing: 3px;
    }

    &__address {
      color: darken(@doublelight-grey-color, 30%);
      margin-bottom: 20px;
      line-height: 22px;
    }

    &__phone {
      color: darken(@doublelight-grey-color, 30%);
      margin-bottom: 20px;

      a {
        color: @orange-color;
        font-weight: 700;

        &:hover,
        &:focus,
        &:active {
          opacity: 0.7;
        }
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 240px;
      border-radius: 15px;
    }
  }
}
