.footer-page {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: @dark-grey-color;

  &__nav {
    display: none;
  }

  &__contacts-list {
    max-width: 330px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__contacts-item {
    font-size: 12px;
    font-weight: 700;

    .email__title,
    .phone__title {
      color: @orange-color;
      margin-bottom: 10px;
    }

    a {
      color: @cream-color;
    }
  }

  &__copyright {
    margin-top: 30px;
    color: @light-grey-color;
    font-size: 14px;

    span {
      font-weight: 700;
      color: @cream-color;
    }
  }
}

.email {
  margin-left: 40px;
}

.address {
  &__container {
    display: flex;
    margin-top: 20px;

    p {
      color: @orange-color;
    }

    a {
      color: darken(@orange-color, 20%);
      text-decoration: underline;
      margin-left: 10px;
    }
  }

  &__text {
    color: @cream-color;
    margin-top: 10px;
  }
}

.order {
  margin: 0 auto;
  margin-top: 40px;
  background-color: @grey-color;
  padding: 20px 10px 10px 20px;
  border-radius: 10px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    &:first-child {
      width: 130px;
      height: 130px;
      background-color: @dark-grey-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      margin-right: 10px;
    }
  }

  &__name-and-size {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 700;
    font-size: 14px;
    color: @cream-color;
    margin-bottom: 10px;
  }

  &__size {
    display: flex;
    flex-direction: column;
    color: @cream-color;
    font-size: 10px;

    span:last-child {
      margin-top: 5px;
      font-size: 10px;
    }
  }

  &__preliminary {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 18px;

    p:first-child {
      max-width: 150px;
      color: @orange-color;
      font-weight: 700;
    }

    p:last-child {
      font-size: 18px;
      font-weight: 700;
      color: @cream-color;
      margin-top: 10px;

      sup {
        font-size: 12px;
        margin-left: 3px;
      }
    }
  }
}

.footer-page__button-resume {
  width: 240px;
  border-radius: 15px;
  font-size: 10px;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .footer-page {
    &__contacts-list {
      max-width: 100%;
      justify-content: space-between;
    }

    &__copyright-container {
      display: flex;
      justify-content: space-between;
    }

    &__copyright {
      max-width: 270px;
    }
  }

  .address {
    &__container {
      margin-top: 0;
    }
  }

  .order {
    max-width: calc(100% - 60px);
  }
}

@media (min-width: @desktop-width) {
  .footer-page {
    &__top {
      display: flex;
      justify-content: space-between;
    }

    &__contacts-list {
      max-width: 330px;
    }

    &__nav {
      display: block;
      width: 700px;

      .nav__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .nav__link {
        color: @cream-color;

        &:hover,
        &:focus {
          opacity: 0.7;
        }

        &:active {
          opacity: 0.5;
        }
      }
    }

    .order {
      max-width: 1060px;
      margin: 0 auto;
      margin-top: 20px;
      padding: 20px 20px 20px 20px;

      &__list {
        justify-content: space-between;
        align-items: center;
      }

      &__item {
        flex-grow: 0;

        &:first-child {
          margin-right: 50px;
        }

        &:nth-child(2) {
          display: flex;
          max-width: 420px;
          height: 65px;
          flex-direction: row;
          align-items: stretch;
          justify-content: space-around;
        }
      }

      &__name-and-size,
      &__preliminary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__preliminary {
        margin: 0;
        margin-left: 50px;
      }
    }

    &__order-item {
      flex-grow: 1;
      text-align: right;
    }
  }

  .address {
    &__container {
      margin-top: 20px;
    }
  }
}
